<table width="800" cellspacing="0" cellpadding="0" bgcolor="white" ALIGN="center"> 
<tr bgcolor="white" align="left"> <td height="28" width="800" BGCOLOR="white"></td></tr><tr bgcolor="white" align="left"><td height ="450" VALIGN="middle" align="CENTER" WIDTH="800"><!-- #BeginEditable "photo spot" --> 
<P><FONT FACE="Arial, Helvetica, sans-serif"ALIGN="center"><BR><BR><BR><BR><BR><BR><BR>Custom B&amp;W Lab printing fees:<BR><BR>Process 
and RC proof 35mm or 120 $18.50 per roll<BR>Archival Quality Fiber Prints for 
Display<BR>5 X 7 and smaller $14.50 each<BR>8 X 10 $28.50 each<BR>11 X 14 $75.00 
each<BR>16 X 20 $169.50 each<BR>Flat Rate lab work $20.00 hour 
plus expenses three hour minimum<BR><BR>Color:<BR>35 mm film w/ processing &amp; 4 x 6 
machine prints $42.00 roll<BR>Individual color prints:<BR>5 x 7 $ 22.00 <BR>8 
x 10 $ 30.00<BR>
<BR>Normal turnaround time 3 days - faster turnaround available for 
additional fee.<BR>All reasonable care 
will be taken with your film and prints,<BR>but I am not responsible for any loss 
or damage.<BR>Damaged film will be replaced with fresh film.<BR><BR>Darkroom &amp;
Photography lessons available @ $35.00 hr. + materials.<BR><BR>Camera rental w/ lessons 
$15.00 wk. additional.</FONT>
<P><FONT FACE="Arial, Helvetica, sans-serif" SIZE="1" ALIGN="CENTER" > Prices as of 6/1/12 subject to change without notice</FONT>

<FONT FACE="Arial, Helvetica, sans-serif" SIZE="1" <FONT COLOR=white>photographer,portland,Oregon,Northwest photography,black and white,digital annual reports weddings,events,portraits,affordable,talented,great,wedding photographer easy to work with</P><!-- #EndEditable --></td></tr> </table>