<h1>Lab printing fees:</h1>
<div>
	<ul>
<li>Process and RC proof 35mm or 120 $18.50 per roll</li>
<li>Archival Quality Fiber Prints for Display</li>
<li>5 X 7 and smaller $14.50 each</li>
<li>8 X 10 $28.50 each</li>
<li>11 X 14 $75.00 each</li>
<li>16 X 20 $169.50 each</li>
</ul>
</div>
<h3>Flat Rate lab work $20.00 hour plus expenses three hour minimum</h3>
<div>
	<p>Color: 35 mm film w/ processing &amp; 4 x 6 machine prints $42.00 roll</p>
	<p>Individual color prints:</p>
<ul>
<li>5 x 7 $ 22.00 </li>
<li>8 x 10 $ 30.00</li>
</ul>
<p>Normal turnaround time 3 days - faster turnaround available for additional fee. All reasonable care 
will be taken with your film and prints, but I am not responsible for any loss 
or damage. Damaged film will be replaced with fresh film.</p>

Darkroom &amp; Photography lessons available @ $35.00 hr. + materials. Camera rental w/ lessons 
$15.00 wk. additional.
<br />
<br />
<small>Prices as of 6/1/12 subject to change without notice</small>

</div>