<h1>Shooting fees:</h1> 
<div>
<p>Hourly $80 per hour plus expenses, 2 Hours minimum 4 hours maximum Daily $1000 per day plus expenses, 8 hours maximum
Above fees apply to most assignments, digital or film. Custom arrangements and packages available.</p>
<p>Portraits: sitting for one or two people $180.00, each additional person $20.00</p>
<h4>Digital color or black and white film:</h4>
Digital color includes DVD of edited shoot.<br />
Black and white film shoot includes 1 hour, 2 rolls 35mm film, 2 proof sheets, & 1 fiber print 8 X 10.<br />
<br />
<p>Weddings: see wedding price sheet.</p>

<p>Darkroom & Photography  lessons available @ $35.00 hr. +  materials.  
Camera rental w/ lessons $15.00 wk. additional.</p>
</div>


