<table width="800" cellspacing="0" cellpadding="0" bgcolor="white" ALIGN="center"> 
<tr bgcolor="white" align="left"> <td height="28" width="800" BGCOLOR="white"></td></tr><tr bgcolor="white" align="left"><td height ="450" VALIGN="middle" align="CENTER" WIDTH="800">
<FONT FACE="Arial, Helvetica, sans-serif"ALIGN="center"SIZE="+1">
<BR><BR><BR><BR><BR><BR>Shooting fees: Hourly $80    per hour plus expenses,<BR>
2 Hours minimum 4 hours maximum<BR>
 Daily $1000 per day plus expenses,8 hours maximum<BR>
Above fees apply to most assignments, digital or film.<BR><BR>Custom arrangements and packages available.<BR><BR>
Portraits: sitting for one or two people $180.00, each additional person $20.00 <BR>
Digital color or black and white film.<BR><BR>
Digital color includes DVD of edited shoot<BR><BR>Black and white film shoot includes 1 hour, 2 rolls 35mm film, 2 proof sheets, & 1 fiber print 8 X 10.<BR><BR>
Weddings: see wedding price sheet.<BR><BR>

Darkroom & Photography  lessons available @ $35.00 hr. +  materials.  
Camera rental w/ lessons $15.00 wk. additional.<FONT/><BR>


Portland Oregon<BR><BR><BR><FONT FACE="Arial, Helvetica, sans-serif"ALIGN="center"SIZE="+2">

503-970-6639<FONT/><BR><BR><BR><FONT FACE="Arial, Helvetica, sans-serif"ALIGN="center"SIZE="-1">
10/1/2011<FONT/>
<BR><FONT FACE="Arial, Helvetica, sans-serif" SIZE="1" <FONT COLOR=white>photographer,portland,Oregon,Northwest photography,black and white,digital annual reports weddings,events,portraits,affordable,talented,great,wedding photographer easy to work with,best,award winning</P><FONT/>