
.simple_form {
  width: 50%;
  margin: 0 auto 0 auto;
  margin-top: 2em;
}

ul {
  list-style: none;
}

.days {
  text-align: center;
  font-size: 1.3em;
  width: 50%;
  margin: 0 auto 2em auto;
}

ul.days li:nth-child(even) {
  background-color: #ccc;
}

.invoice {
  text-align: center;
}

.save {
  text-align: center;
}

h1.save {
  font-size: 3em;
}

p.save {
  font-size: 1.2em;
}

/* Carousel base class */
.carousel {
  //height: 600px;
  //margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  //width: 1336px;
  //height: 570px;
  background-color: #777;
}
.carousel-inner > .item > img {
  
  //width: 1336px;
  //height: 570px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-right: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.img {
  width: 400px;
  height: 300px;
  
}

#float {
  float: right;
}

.gallery {
  margin-top: 10px;
}

#fee_content {
  resize: vertical;
  height: 400px;
}

