.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}


/* Carousel base class */
.carousel {
  //height: 600px;
  //margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  //width: 1336px;
  //height: 570px;
  background-color: #777;
}
.carousel-inner > .item > img {
  
  //width: 1336px;
  //height: 570px;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-right: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.img {
  width: 400px;
  height: 300px;
  
}

#float {
  float: right;
}

.gallery {
  margin-top: 10px;
}

